[Desktop Entry]
Comment[ru_RU]=Доступ в Интернет с Network Namespace
Comment=Доступ в Интернет с Network Namespace
Exec=pkexec ip netns exec vpn runuser -u $(whoami) -- env DISPLAY=${DISPLAY} WAYLAND_DISPLAY=${WAYLAND_DISPLAY} /usr/lib/firefox/firefox %u
GenericName[ru_RU]=Firefox NetNS (pkexec)
GenericName=Firefox NetNS (pkexec)
Icon=firefox
MimeType=application/json;application/pdf;application/rdf+xml;application/rss+xml;application/x-xpinstall;application/xhtml+xml;application/xml;audio/flac;audio/ogg;audio/webm;image/avif;image/gif;image/jpeg;image/png;image/svg+xml;image/webp;text/html;text/xml;video/ogg;video/webm;x-scheme-handler/chrome;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/mailto;
Name[ru_RU]=Firefox NetNS (pkexec)
Name=Firefox NetNS (pkexec)
Path=
Categories=GNOME;GTK;Network;WebBrowser;
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=

