mpd/.config/mpd/playlist
mpd/.config/mpd/database
mpd/.config/mpd/pid
mpd/.config/mpd/state
mpd/.config/mpd/sticker.sql
mpd/.config/mpd/syslog
mpv/.config/mpv/watch_later
mpv/.config/mpv/volume
ncmpcpp/.config/ncmpcpp/error.log
nvim/.config/nvim/plugged/
nvim/.config/vim/plugged/
nvim/.config/vim/viminfo
ranger/.config/ranger/plugins/__pycache__/
ranger/.config/ranger/plugins/__init__.py
zsh/.config/zsh/.zcompdump
zsh/.config/zsh/.zsh_history
zsh/.config/zsh/.zsh_sessions/
zsh/.config/zsh/.zcompcache/
zsh/.config/zsh/plugins/
local/.local/bin/rnnoise
radeon-profile/.config/radeon-profile/radeon-profile-settings

local/.local/share/applications/*
!local/.local/share/applications/file.desktop
!local/.local/share/applications/nsxiv-rifle.desktop

gtk/.config/gtk-3.0/assets/*
gtk/.config/gtk-3.0/colors.css
gtk/.config/gtk-3.0/window_decorations.css

