scripts/.local/share/
scripts/.local/state/
mpd/.config/mpd/database
mpd/.config/mpd/pid
mpd/.config/mpd/state
mpd/.config/mpd/sticker.sql
mpd/.config/mpd/syslog
mpv/.config/mpv/watch_later
mpv/.config/mpv/volume
ncmpcpp/.config/ncmpcpp/error.log
zsh/.config/zsh/.zcompdump
zsh/.config/zsh/.zcompcache/
zsh/.config/zsh/plugins/
otd/.config/OpenTabletDriver/Logs

librewolf/.librewolf/*
!librewolf/.librewolf/librewolf.overrides.cfg
